    /* Makeshift CSS Reset */
    {
        margin: 0;
        padding: 0;
    }

    header#main_header {
        padding: 0;
        margin: 0;
        margin-top: 15px;
        margin-bottom: 15px;
    }
    header#main_header ul {
        margin: 0;
        list-style: none;
        padding: 0;

    }
    header#main_header ul li {
        float: left;
        margin:0;
        padding: 0;
    }

    header#main_header ul li h1 {
        font-size: 40px;
        margin: 0;
        padding: 0;
        margin-top:15px;
    }
    header#main_header ul li.float_right {
        float: right;
    }
    #sign_in {
        margin-top: 20px;
        margin-right: 30px;

    }
    /* Tell the browser to render HTML 5 elements as block */
    header, footer, aside, nav, article {
        display: block;
    }

    header .small_picture {
        width: 120px;
        height: 70px;
    }

    body {
        margin: 0 auto;
        width: 940px;
        font: 13px/22px Helvetica, Arial, sans-serif;
        background: #C0F56E;
    }

    h2 {
        font-size: 28px;
        line-height: 44px;
        padding: 22px 0;
    }

    h3 {
        font-size: 18px;
        line-height: 22px;
        padding: 11px 0;
    }

    p {
        padding-bottom: 22px;
    }
/*Navigation*/
    nav {
        position: absolute;
        left: 0;
        width: 100%;
        background: url("../images/nav_background.png");
        margin-top:60px;
    }
    nav ul {
        margin: 0 auto;
        width: 940px;
        list-style: none;
    }

    nav ul li {
        float: left;
    }
        nav ul li a {
            display: block;
            margin-right: 20px;
            width: 140px;
            font-size: 14px;
            line-height: 44px;
            text-align: center;
            text-decoration: none;
            color: #8EEB00;
        }

            nav ul li a:hover {
                color: #fff;
            }

            nav ul li.selected a {
                color: #fff;
            }

/* Content */
    #content {
        display: table;
        float: left;
        margin-top: 20px;
        padding-top: 50px;
        width:100%;
    }

    #mainContent {
        display: table-cell;
        padding-right: 22px;

    }

    .blogPost {
        column-count: 2;
        column-gap: 22px;
        padding: 10px;
        /* Border-radius not implemented yet */
        -moz-border-radius: 11px;
        -webkit-border-radius: 11px;
    }
    .blogPost header {
        column-span: all;
    }

    section#comments article:nth-child(2n+1) {
        padding: 21px;
        background: #ACF53D;
        border: 1px solid #5C9900;


        /* Border-radius not implemented yet */
        -moz-border-radius: 11px;
        -webkit-border-radius: 11px;
    }

/* Sidebar */

aside {
    border: 1px solid #5C9900;
    -moz-border-radius: 11px;
    -webkit-border-radius: 11px;
    display: table-cell;
    width: 300px;
    background: #ACF53D;
    padding: 0;
}
aside section {
    margin: 22px 22px 0 22px;
    padding: 11px 11px;
    background: url("../images/sidebar_section_background.png") repeat-x;

    /* Border-radius not implemented yet */
    -moz-border-radius: 11px;
    -webkit-border-radius: 11px;
}

    aside section ul {
        margin: 0 0 0 22px;
        list-style: none;
    }

        aside section ul li a {
            display: block;
            text-decoration: none;
            color: #000;
        }

            aside section ul li a:hover {
                text-decoration: underline;
            }

footer {
    float: left;
}

/* User show page */

table.profile {
  width: 100%;
  margin-bottom: 0;
}

td.main {
  width: 70%;
  padding: 1em;
  background: #ffc;
}

td.sidebar {
  width: 30%;
  padding: 1em;
  vertical-align: top;
  background: #ffc;
}

.profile img.gravatar {
  border: 1px solid #999;
  margin-bottom: -15px;
}
