<header id="main_header"> 
    <ul>
        <li>
        <h1>Aivolävistys </h1>
        </li>
        <li>
        <%= image_tag("olives.png", :class => "small_picture") %>
        </li>
            <li class="float_right">
            <section id="sign_in">
                <%= link_to 'Sign in', '#' %>
                </section>
            </li>
    </ul>
</header>

