<header id="main_header"> 
    <ul>
        <li>
        <h1>Aivolävistys </h1>
        </li>
        <li>
        <%= image_tag("olives.png", :class => "small_picture") %>
        </li>
    </ul>
</header>

