<aside>
  <section>
    <header>
      <h3>Linkkejä</h3>
    </header>
    <ul>
      <li><a href="#">Sit amet consectetur</a></li>

      <li><a href="#">Adipisicing elit sed</a></li>
      <li><a href="#">Do eiusmod tempor</a></li>
      <li><a href="#">Incididunt ut labore</a></li>
    </ul>
  </section>
  <section>
    <header>

      <h3>Jäsenet</h3>
    </header>
    <ul>
      <li><a href="#">Jukkis</a></li>
      <li><a href="#">Matu (basisti)</a></li>
      <li><a href="#">Se joku laulaja</a></li>
      <li><a href="#">Joku rumpali (vissii matu)</a></li>

      <li><a href="#">April 2009</a></li>
    </ul>
  </section>
</aside>
